[Desktop Entry]
Name={{ cookiecutter.project_name }}
GenericName=Application template
Comment=A simple Qt based application template
Type=Application
Exec={{ cookiecutter.project_slug }}
Icon={{ cookiecutter.project_slug }}
Terminal=false
Categories=Qt;Utility;
